<span class="float-right mx-auto">
    <a class="btn button btn-sm" style="color:white;"
       href='@Url.Action("Index", "ShoppingCart")'
       data-toggle="tooltip"
       data-placement="top" title=""
       data-original-title="Update Cart">
        Update Cart &nbsp;
        <i class="fa fa-plus-circle ml-auto" style="font-size:16px;"></i>
    </a>
</span>
